.article {
  --images-block-space: clamp(10rem, 9rem + 3.125vw, 15rem);
}

.topContent {
  --padding-block-start: 5rem;
  padding-block-start: calc(
    var(--header-block-size) + var(--padding-block-start)
  );
}

.mobileImagesSection,
.desktopImagesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--images-block-space);
}

.desktopImagesSection {
  padding-block: var(--images-block-space);
}

.mobileImage,
.desktopImage {
  block-size: auto;
}

@media screen and (min-width: 768px) {
  .topContent {
    --padding-block-start: 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
  }
}
