.topContent {
  --padding-block-start: 5rem;
  padding-block-start: calc(
    var(--header-block-size) + var(--padding-block-start)
  );
}

.mobileImagesSection,
.desktopImagesSection {
  display: flex;
  flex-direction: column;
}

.mobileImagesSection {
  align-items: center;
  gap: clamp(10rem, 8.786rem + 3.236vw, 15rem);
}

.desktopImagesSection {
  padding-block: clamp(10rem, 8.786rem + 3.236vw, 15rem);
  gap: clamp(5rem, 3.786rem + 3.236vw, 10rem);
}

.mobileImage,
.desktopImage {
  block-size: auto;
}

.nav {
  display: flex;
}

.navLink {
  flex: 1;
  padding-block: clamp(5rem, 4.4rem + 1.875vw, 8rem);
  font-family: var(--bebas-neue-font);
  font-size: clamp(4rem, 3.4rem + 1.875vw, 7rem);
  text-align: center;
}

.navLink::before {
  content: attr(data-text);
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 0.05rem hsl(var(--text-color-hsl) / 0.9);
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.navLink:nth-of-type(1) {
  border-inline-end: 0.1rem solid var(--border-color);
}

.navLink:hover::before {
  transform: scale(1.15);
}

@media screen and (min-width: 768px) {
  .topContent {
    --padding-block-start: 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
  }
}

.pageTransition {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: var(--bg-color);
  animation: slideOutTop 500ms cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes slideOutTop {
  to {
    transform: translateY(-100%);
  }
}
