.card {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  transition: border-radius 100ms linear;
}

.card:has(.wrapperLink:focus-visible) {
  transform: scale(0.95);
  outline: 0.1rem solid;
  outline-offset: 0.3rem;
}

.wrapperLink {
  position: absolute;
  inset: 0;
  font-size: 0;
  background-color: transparent;
  transition: background-color 300ms ease-in-out;
}

.image {
  block-size: auto;
  inline-size: 100%;
}

.title {
  --hover-translateY: 100%;
  position: absolute;
  inset-block-end: 0;
  font-size: 3rem;
  font-weight: bold;
  line-height: normal;
  padding: 1.4rem;
}

.tags {
  --hover-translateY: -100%;
  position: absolute;
  display: flex;
  column-gap: 1.6rem;
  padding: 1.4rem;
}

.tagPill {
  padding: 1rem 2.1rem;
  border: 0.1rem solid currentColor;
  border-radius: 3rem;
  font-size: 1.6rem;
  line-height: normal;
  backdrop-filter: blur(2rem);
}

@media (hover: hover) {
  .tags,
  .title {
    transition: transform 300ms ease-in-out;
    transform: translateY(var(--hover-translateY));
  }

  .card:hover {
    border-radius: 0;
  }

  .card:hover .tags,
  .card:hover .title {
    transform: translateY(0);
  }

  .card:hover .wrapperLink {
    background-color: hsl(0 0% 0% / 0.55);
  }
}

@media screen and (max-width: 768px) {
  .image {
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

  .tags {
    display: none;
  }

  .wrapperLink {
    background-image: linear-gradient(0deg, hsl(0 0% 0%) 0%, transparent 33%);
  }
}
