.logo path {
  fill: currentColor;
  stroke: transparent;
  transition: fill 300ms ease, stroke 300ms ease;
}

.logo:hover path {
  fill: transparent;
  stroke: currentColor;
}

@media screen and (max-width: 915px) {
  .logo {
    inline-size: 3.455rem;
  }

  .letters {
    display: none;
  }
}
