:root {
  --bg-color-hsl: 0 0% 6%;
  --text-color-hsl: 0 0% 88%;
  --primary-color-hsl: 54 83% 53%;
  --secondary-color-hsl: 13 100% 50%;
  --active-color-hsl: 207 90% 77%;
  --border-color-hsl: 0 0% 14%;

  --bg-color: hsl(0, 0%, 6%);
  --text-color: hsl(0, 0%, 88%);
  --primary-color: hsl(54, 83%, 53%);
  --secondary-color: hsl(13, 100%, 50%);
  --active-color: hsl(207, 90%, 77%);
  --border-color: hsl(0, 0%, 14%);

  --max-inline-size: 192rem;
  --space-inline: clamp(2rem, 1.4rem + 1.875vw, 5rem);
  --header-block-size: 7rem;
  --section-padding-block: clamp(10rem, 6.966rem + 8.091vw, 22.5rem);
}

@media screen and (max-width: 768px) {
  :root {
    --header-block-size: 6.3rem;
  }
}

::selection {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

::-webkit-scrollbar {
  inline-size: 1.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 67%);
  border-radius: 1rem;
  border: 0.4rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 44%);
}

body {
  max-inline-size: var(--max-inline-size);
  margin-inline: auto;
  font-size: clamp(1.6rem, 1.551rem + 0.129vw, 1.8rem);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.__next {
  block-size: inherit;
  isolation: isolate;
}

.container {
  max-inline-size: 163rem;
  padding-inline: var(--space-inline);
  margin-inline: auto;
}

.hideOverflow {
  overflow-y: hidden;
}

.slideInBottom {
  animation: slideInTop 350ms ease;
}

@keyframes slideInTop {
  from {
    transform: translateY(10rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
