.nav {
  display: flex;
  align-items: center;
  inline-size: 100%;
}

.navList {
  display: flex;
  column-gap: 3rem;
}

.contactBtn {
  margin-inline-start: auto;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
