.searchBar {
  inline-size: 100%;
  padding: 1rem;
  background-color: transparent;
  border: 0.1rem solid currentColor;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 250ms ease;
}

.searchBar:focus {
  border-color: var(--active-color);
  box-shadow: 0 0 0 0.4rem hsl(var(--active-color-hsl) / 0.1);
}

.searchBar::placeholder {
  color: hsl(0 0% 100% / 0.5);
}
