.hero {
  padding-block-start: 40rem;
  padding-inline: var(--padding-inline);
}

.titleWrapper {
  display: flex;
}

.title {
  inline-size: max-content;
  font-size: clamp(6rem, 1.6rem + 13.75vw, 28rem);
  font-weight: 400;
  line-height: 0.9;
  white-space: pre-wrap;
}
