.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
}

.title {
  font-size: 18rem;
  line-height: normal;
  text-align: center;
}

.titleName {
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--text-color);
}
