.form {
  display: grid;
  grid-template-areas:
    'name email'
    'message message'
    'submit submit';
  gap: 3rem;
}

.nameInput {
  grid-area: name;
}
.emailInput {
  grid-area: email;
}
.messageInput {
  grid-area: message;
}

.submitBtn {
  grid-area: submit;
  max-inline-size: 24rem;
  padding-block: 1rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: 500;
  border: 0.2rem solid var(--text-color);
  border-radius: 0.5rem;
  outline-offset: 0.1rem;
  user-select: none;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

@media (hover: hover) {
  .submitBtn:not(:disabled):hover {
    color: var(--text-color);
    background-color: transparent;
  }
}

.submitBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .form {
    grid-template-areas:
      'name name'
      'email email'
      'message message'
      'submit submit';
  }
}
