.marquee {
  border-block: 0.1rem solid var(--border-color);
  overflow-x: hidden;
}

.marqueeTrack {
  --gap: clamp(1.5rem, 1.2rem + 0.938vw, 3rem);
  display: flex;
  align-items: center;
  gap: var(--gap);
  inline-size: max-content;
  animation: scroll 20s linear infinite;
}

.text {
  font-family: var(--bebas-neue-font);
  font-size: clamp(3.5rem, 2.9rem + 1.875vw, 6.5rem);
  line-height: normal;
}

.text:nth-child(4n - 3),
.text:nth-child(4n - 2) {
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--text-color);
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - (var(--gap) / 2)));
  }
}
