.header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
  padding: 1.5rem var(--space-inline);
  background-color: var(--bg-color);
  border-block-end: 0.1rem solid var(--border-color);
}

.navMenuMobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    max-inline-size: var(--max-inline-size);
    padding-block: 1rem;
    column-gap: 5rem;
  }

  .homeLink {
    flex-shrink: 0;
  }
}
