.header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-inline-size: var(--max-inline-size);
  inline-size: 100%;
  padding: 1.5rem var(--padding-inline);
  background-color: var(--bg-color);
}

.homeLink {
  flex-shrink: 0;
}
