.footer {
  justify-content: space-between;
  padding-inline: var(--space-inline);
  padding-block: clamp(10rem, 8.786rem + 3.236vw, 15rem) 5rem;
  clip-path: polygon(0 0, 100% 8vh, 100% 100%, 0% 100%);
  background: linear-gradient(0deg, hsl(0, 0%, 8%), hsl(0, 0%, 12%));
}

.footer,
.socialNetworksList {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.countryAndTime {
  display: flex;
  gap: 1rem;
}

.time {
  min-inline-size: 4.8rem;
  font-weight: 500;
}
