.footer {
  justify-content: space-between;
  padding-inline: var(--space-inline);
  padding-block: 5rem;
  border-block-start: 0.1rem solid var(--border-color);
}

.footer,
.socialNetworksList {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.countryAndTime {
  display: flex;
  gap: 1rem;
}

.time {
  min-inline-size: 4.8rem;
  font-weight: 500;
}
