.label {
  font-weight: 500;
  transition: color 200ms ease-in-out, opacity 200ms ease-in-out;
  user-select: none;
}

.label:has(:focus) {
  color: var(--active-color);
}

.input,
.textarea {
  display: block;
  padding-bottom: 1rem;
  inline-size: 100%;
  font-weight: 400;
  color: var(--text-color);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.2rem solid currentColor;
  transition: border-bottom-color 200ms ease-in-out;
}

.textarea {
  resize: none;
  block-size: 20rem;
}

.input:focus,
.textarea:focus {
  border-bottom-color: var(--active-color);
}
