.scroller {
  border-block: 0.1rem solid var(--border-color);
  overflow-x: hidden;
}

.scrollerInner {
  --gap: clamp(1rem, 0.757rem + 0.647vw, 2rem);
  display: flex;
  align-items: center;
  gap: var(--gap);
  inline-size: max-content;
  animation: scroll 35s linear infinite;
}

.text {
  font: clamp(4rem, 3.515rem + 1.294vw, 6rem) / normal var(--bebas-neue-font);
}

.text:nth-child(even) {
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--text-color);
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - (var(--gap) / 2)));
  }
}
