.scroller {
  border-block: 0.1rem solid var(--border-color);
  overflow-x: hidden;
}

.scrollerInner {
  --gap: clamp(1rem, 0.757rem + 0.647vw, 2rem);
  display: flex;
  align-items: center;
  gap: var(--gap);
  inline-size: max-content;
  animation: scroll 30s linear infinite;
}

.text {
  font-family: var(--bebas-neue-font);
  font-weight: 400;
  font-size: clamp(4rem, 3.393rem + 1.618vw, 6.5rem);
  line-height: normal;
}

.text:nth-child(even) {
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--text-color);
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - (var(--gap) / 2)));
  }
}
