/* Cycling gradient glow - no text duplication by: https://codepen.io/thebabydino/pen/rNPOpJK*/

@property --k {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

.hero {
  display: grid;
  min-block-size: 100%;
  padding-block-start: var(--header-block-size);
  padding-inline: var(--space-inline);
}

.svg {
  position: absolute;
}

.title {
  place-self: center;
  font: clamp(7rem, 3.845rem + 8.414vw, 20rem) / 1.2 var(--bebas-neue-font);
  text-align: center;
}

.titleName {
  --k: 0;
  color: transparent;
  background: linear-gradient(
    90deg,
    hsl(calc(var(--k) * 1turn), 95%, 65%),
    hsl(calc(var(--k) * 1turn + 90deg), 95%, 65%)
  );
  background-clip: text;
  filter: url(#f);
  animation: k 5s linear infinite;
}

@media (orientation: landscape) {
  .title {
    padding-block: 12rem;
  }
}

@keyframes k {
  to {
    --k: 1;
  }
}
