.hero {
  position: relative;
  display: grid;
  min-block-size: 100%;
  padding-block-start: var(--header-block-size);
  padding-inline: var(--space-inline);
  overflow: hidden;
}

.titleBlur {
  position: absolute;
}

.title {
  place-self: center;
  font: clamp(7rem, 3.845rem + 8.414vw, 20rem) / 1.2 var(--bebas-neue-font);
  text-align: center;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    hsl(203, 100%, 57%) 3%,
    hsl(230, 87%, 61%) 20%,
    hsl(258, 93%, 62%) 36%,
    hsl(285, 93%, 50%) 52%,
    #fc2953 69%,
    #ffc743 100%
  );
  background-clip: text;
}

.animalogo {
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 0;
  z-index: -1;
  block-size: auto;
  inline-size: clamp(15rem, 12.573rem + 6.472vw, 25rem);
  opacity: 0.4;
  transform: translateX(50%);
}

@media (orientation: landscape) {
  .title {
    padding-block: 12rem;
  }
}
