.container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: var(--section-padding-block);
  font-size: clamp(1.8rem, 1.654rem + 0.388vw, 2.4rem);
}

.aboutText {
  max-inline-size: 48ch;
  margin-block-end: 3rem;
  white-space: pre-wrap;
}

.aboutText em {
  font-style: normal;
}

.aboutText span {
  font-weight: 500;
  background: linear-gradient(
    to right,
    hsl(49, 100%, 50%) 0%,
    hsl(221, 74%, 64%) 50%,
    hsl(356, 85%, 57%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutText span::selection {
  -webkit-text-fill-color: currentColor;
}

.subtitle {
  margin-block-end: 2rem;
  font-weight: 500;
}

.downloadCV {
  display: inline-flex;
  column-gap: 0.5rem;
  align-items: center;
}

.technologiesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 4rem;
  padding-inline-start: 1.5em;
}

.technologiesList li {
  list-style-type: '✦  ';
}
