.container {
  display: flex;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: var(--section-padding-block);
  font-size: clamp(1.8rem, 1.654rem + 0.388vw, 2.4rem);
}

.aboutText {
  max-inline-size: 40ch;
  margin-block-end: 3rem;
}

.subtitle {
  margin-block-end: clamp(2rem, 1.757rem + 0.647vw, 3rem);
  font-weight: 500;
}

.technologiesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 3rem;
}
