.info {
  padding-block-end: 12rem;
}

.title {
  font-size: clamp(6rem, 5.272rem + 1.942vw, 9rem);
}

.description {
  max-inline-size: 60ch;
  padding-block-end: 3rem;
  white-space: pre-wrap;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1rem;
  padding-block-end: 4rem;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 3rem;
}

.statsRole {
  margin-inline-end: auto;
}

.statsCaption {
  padding-block-end: 1rem;
  font-size: clamp(1.4rem, 1.36rem + 0.125vw, 1.6rem);
  font-weight: 500;
  text-transform: uppercase;
}

.statsLinks {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 0.8rem + 0.625vw, 2rem);
}

@media screen and (min-width: 768px) {
  .info {
    position: sticky;
    inset-block-start: calc(var(--header-block-size) + 5rem);
    inline-size: max-content;
    padding-block-end: 12rem;
  }
}
