.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100%;
  padding-block-start: var(--header-block-size);
  padding-inline: var(--space-inline);
}

.title {
  font-family: var(--bebas-neue-font);
  font-weight: 400;
  font-size: clamp(7rem, 3.845rem + 8.414vw, 20rem);
  line-height: 1.2;
  text-align: center;
}

.titleName {
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--text-color);
}

@media (orientation: landscape) {
  .title {
    padding-block: 12rem;
  }
}
